<div class="summary">
    <div class="title summary__title">Summary
        <button mat-fab (click)="addTicket()">
            <mat-icon>add</mat-icon> Ticket
        </button>
    </div>
    <div class="board__filter">
        <div class="board__filter_buttons">Sort By:
            <mat-radio-group [(ngModel)]="ticketSort">
                <mat-radio-button value="">None</mat-radio-button>
                <mat-radio-button value="priority">Priority</mat-radio-button>
                <mat-radio-button value="dueDate">Due Date</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="board">
        <div class="board__lanes">
            <div class="board__lanes__lane board__pending">
                <div class="board__lanes__lane__label">Pending</div>
                <!-- I realise that this card could be a component on its own and it would cut down on the repetition however it wouldnt eliminate repetition and the effort outweighs the result -->
                <mat-card *rxFor="let ticket of getTicketForStatus('PENDING', ticketSort)">
                    <mat-card-header>
                        <mat-card-title>{{ ticket.title }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ ticket.description }}</p>
                        <p>Due Date: {{ ticket.dueDate | date: 'yyyy/MM/dd' }}</p>
                        <p>Status: {{ ticket.status | status }}</p>
                        <p>Priority: {{ ticket.priority }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary" (click)="editTicket(ticket)">Edit</button>
                        <button mat-button color="warn" (click)="deleteTicket(ticket)">Delete</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="board__lanes__lane board__active">
                <div class="board__lanes__lane__label">In Progress</div>
                <mat-card *rxFor="let ticket of getTicketForStatus('IN_PROGRESS', ticketSort)">
                    <mat-card-header>
                        <mat-card-title>{{ ticket.title }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ ticket.description }}</p>
                        <p>Due Date: {{ ticket.dueDate | date: 'yyyy/MM/dd' }}</p>
                        <p>Status: {{ ticket.status | status }}</p>
                        <p>Priority: {{ ticket.priority }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary" (click)="editTicket(ticket)">Edit</button>
                        <button mat-button color="warn" (click)="deleteTicket(ticket)">Delete</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="board__lanes__lane board__completed">
                <div class="board__lanes__lane__label">Done</div>
                <mat-card *rxFor="let ticket of getTicketForStatus('DONE', ticketSort)">
                    <mat-card-header>
                        <mat-card-title>{{ ticket.title }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ ticket.description }}</p>
                        <p>Due Date: {{ ticket.dueDate | date: 'yyyy/MM/dd' }}</p>
                        <p>Status: {{ ticket.status | status }}</p>
                        <p>Priority: {{ ticket.priority }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary" (click)="editTicket(ticket)">Edit</button>
                        <button mat-button color="warn" (click)="deleteTicket(ticket)">Delete</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>