/* You can add global styles to this file, and also import other style files */

:root {
    --Local-White: #f5f5f5;
    --Local-Dark-Grey: #333;
    --Local-Grey: #666;
    --Local-Blue: #007bff;
    --Local-Red: #dc3545;
    --Local-Green: #28a745;
    --Local-Yellow: #ffc107;
    --Local-Orange: #fd7e14;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
